body{
    margin: 0px;
    
}


header{
    background-color: #C4C4C4;
    padding: 5px 0px 5px 0px;
}

h2{
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}

h1{

    padding-left:20px;

}

p{
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    width: 400px;
}


main#main1{
    background-color: #F3F3F3
}

main#main1 > img{
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 50%
}

main#main1 > h2{
    font-size: 1em;
}



main#main2{
    background-color: #FFFFFF
}

footer{
    background-color: #C4C4C4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

footer > a {
    color: #3D3D3D;

}

footer > a > img{
    width: 30px;
    padding-right: 10px;
}